div{
    text-align: center;
    width: 450px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

label{
    text-align: center;
    color:green;
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:brown
}