.navbar-item{
    display: flex;
    text-align: justify;
    flex-direction: row;
    align-content: space-around;
}
mat-toolbar{
    display:flexbox;
    align-items: center;
    align-content: space-between;
}
.nav-item-active{
    margin-right: 10px;
    display: inline-block;
    color:rgb(22, 214, 86);
    overflow: auto;
}