<mat-toolbar>Power App
   
     <ul class="navbar-item ">

        <li class="nav-item-active">
            <a class="nav-link" routerLink="/Power" routerLinkActive="active" >Power</a>
        </li>
        <li class="nav-item-active">
            <a class="nav-link" routerLink="/Resistance" routerLinkActive="active">Resistance</a> 
        </li>
        <li class="nav-item-active">
            <a class="nav-link" routerLink="/Current" routerLinkActive="active">Current</a>
        </li>
        <li class="nav-item-active">
            <a class="nav-link" routerLink="/Capacitance" routerLinkActive="active">Capacitance</a>
        </li>
        <li class="nav-item-active">
            <a class="nav-link" routerLink="/Inductance" routerLinkActive="active">Inductance</a>
        </li>

      </ul>
   
</mat-toolbar>


